* {
    margin: 0;
    pointer-events: none;
    -webkit-user-select: none;
}

body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.3em;
}

.main img{
    width: calc(100% + 32px);
    margin: -16px;
    box-sizing: border-box;
}

p > img {
    margin: -16px;
    width: calc(100% + 32px);
}

p {
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
}